<html>
<body>
	<% include header %>
	<% include nav %>
	<% include slider%>
	<!-- <center>
	<h3 >About page here!!!!</h3>
</center> -->
<center>
<div id="page">
	<div id="content">
		<div class="box">
			<h2>Welcome to Resale.com</h2>
		<h2>About page</h2>
		</div>
				
		<br class="clearfix" />
	</div>
</div>
</center>
	<% include footer %>
</body>
</html>