<% include header %>
<% include adminnav %>

<div id="page">
    <center>
        <h1>Add Category Here!!!!</h1>
        <br>
        <form method="post" action="/admin/addcat" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Category Name</td>
                    <td>
                        <input type="text" name="catnm" placeholder="Enter category name" />
                    </td>
                </tr>
                <tr>
                    <td>Category Icon</td>
                    <td>
                        <input type="file" name="caticon" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Add Category" />
                    </td>
                </tr>
            </table>


        </form>


    </center>
</div>

<% include footer %>