<div id="menu">
    <ul>
        <li class="first"><a href="/admin">Admin Home</a></li>
        <li>
            <span class="opener">Manage Options<b></b></span>
            <ul>
                <li><a href="/admin/manageusers">Manage Users</a></li>
                <li><a href="/admin/addcat">Add Category</a></li>
                <li><a href="/">Manage Category</a></li>
                <li><a href="/">Add Sub Category</a></li>
                <li><a href="/">Manage Sub Category</a></li>
                <li><a href="/">Manage Products</a></li>
            </ul>
        </li>
        <li><a href="/">Payments</a></li>
        <li>
            <span class="opener">Others<b></b></span>
            <ul>
                <li><a href="/">Launch Noftifications</a></li>
                <li><a href="/">View Feedbacks</a></li>
                <li><a href="/">Change Password</a></li>
                <li><a href="/">Manage Profile</a></li>
            </ul>
        </li>
        <li class="last"><a href="/login">Logout</a></li>
    </ul>
    <br class="clearfix" />
</div>