
<% include header %>
<% include nav %>
<% include slider %>

<div id="page">
	<div id="content">
		<div class="box">
			<center>
			<h2>Welcome to Resale.com</h2>
			<h2>Contact page</h2>
		</center>
		</div>



	<br class="clearfix" />
</div>
<!-- page section end -->




</div>

<!-- raper section end -->
<% include footer %>