<% include header %>
<% include nav %>
<% include slider %>

	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to Resale</h2>
			<h2>Contact page</h2>
			</div>

			<!-- box section end -->
			
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Gmail</a></li>
					<li class="last"><a href="#">Youtube</a></li>
				</ul>
			</div>
		</div>
		<!-- sidebar section end -->

		<br class="clearfix" />
	</div>
	<!-- page section end -->

	
	

</div>

	<!-- raper section end -->

<% include footer %>
