
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Resale</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Resale, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="stylesheets/font-awesome.css" rel="stylesheet">
	<!--pop-up-box-->
	<link href="stylesheets/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--//pop-up-box-->
	<!-- price range -->
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui1.css">
	<!-- fonts -->
	<link href="./stylesheets/style1.css" rel="stylesheet">
</head>

<body>
	
<% include header %>
<% include nav %>
	<!-- banner -->
	<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
		<!-- Indicators-->

		<!-- side ka color wahi chahiye bus arrow remove ho jana chahiye -->
	 
		<!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>  -->
	<!-- //banner -->

<% include slider %>

	<!-- //top products -->
	
	
<% include footer %>

	


</body>

</html>