<% include header %>
<% include nav %>
<% include slider %>


<div class="agileinfo-ads-display col-md-9">
	<div class="wrapper">
		<!-- first section (nuts) -->
		<div class="product-sec1">

		
				<div id="page">
					<div id="content">
						<div class="box">
							<h2>Login here!!!</h2>
			
							<font color="orange"><%= output %></font>
			
							<form method="post" action="/login">
								<table cellspacing="20">
									<tr>
										<td>Username/Email</td>
										<td><input type="text" name="email" placeholder="Enter Email" /></td>
									</tr>
									<tr>
										<td>Password</td>
										<td><input type="password" name="password" placeholder="Enter password" /></td>
									</tr>
									<tr>
										<td>
											<input type="submit" value="Login" />
										</td>
									</tr>
								</table>
							</form>
						</div>
					</div>
				</div>
		

			<div class="clearfix"></div>
		</div>
		<!-- //first section (nuts) -->
		</div>
	</div>
</div>


<% include footer %>