
	
	<% include header %>
	<% include nav %>
	<% include slider %>

	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to Resale</h2>
			<h2>Service page</h2>
			</div>

			<!-- box section end -->
			
			<br class="clearfix" />
		</div>


		<!-- sidebar section end -->

		<br class="clearfix" />
	</div>
	<!-- page section end -->cd Dekc

	
	

</div>

	<!-- raper section end -->

<% include footer %>
