<% include header %>
<% include usernav %>

<div id="page">
    <center>
        <h1>Welcome To Resale.com</h1>
        <h1>User panel</h1>
    </center>
</div>

<!-- raper section end -->

<% include footer %>