<div id="menu">
    <ul>
        <li class="first"><a href="/users">User Home</a></li>
        <li>
            <span class="opener">Manage Options<b></b></span>
            <ul>
                <li><a href="#">Add product</a></li>
                <li><a href="#">Manage Your Product</a></li>
                <li><a href="#">View Other Product</a></li>
                <li><a href="#">Bidding Product</a></li>
            </ul>
        </li>
        <li><a href="#">Payments History</a></li>
        <li>
            <span class="opener">Others<b></b></span>
            <ul>
                <li><a href="#">View Noftifications</a></li>
                <li><a href="#">Launch Feedbacks</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Manage Profile</a></li>
            </ul>
        </li>
        <li class="last"><a href="/login">Logout</a></li>
    </ul>
    <br class="clearfix" />
</div>

<!-- navigation section end -->